.main-container {
  background-image: url('../assets/banner12.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
  height: 615px;
  background-position: bottom;
  position: relative;
}

a {
  color: #ffffff;
  text-decoration: none;
}

.banner {
  font-family: Freight, HoeflerText-Black, Times New Roman, serif;
  font-size: 72px;
  font-weight: bold;
  box-sizing: border-box;
  text-align: center;
  padding: 0px 10% 0px 10%;
  cursor: text;
}

.caption {
  font-family: BasisGrotesque, Avenir, Helvetica Neue, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 22px;
  line-height: 1.2;
  text-align: center;
  cursor: text;
}

.spacer {
  height: 130px;
}

.main-social {
  font-family: BasisGrotesque, Avenir, Helvetica Neue, Helvetica, sans-serif;
  font-size: 20px;
  position: absolute;
  bottom: 0;
  right: 0;
  text-shadow: 2px 2px 4px #000000;
  padding-right: 5px;
}
